<%= div_for comment do %>
  <div class="text-muted fw-bold">
    <small><%= comment.user.first_name %> &#183; <%= local_time_ago(comment.created_at) %></small>
  </div>
  <p class="text-muted"><%= comment.body %></p>
<% end %>
