<div class="mb-3">
  <div class="bg-light py-2 px-3 rounded-3">
    <div class="fw-bold">
      <%= comment.user %>
    </div>
    <div class="text-muted"><%= comment.body %></div>
  </div>
  <small class="text-muted">Posted on <%= comment.created_at %></small>
</div>
