<%= div_for comment do %>
  <p class="text-muted fw-bold">
    By: <%= comment.user.first_name %> <%= local_time_ago(comment.created_at) %>
  </p>
  <p class="text-muted"><%= comment.body %></p>
<% end %>
