<div class="container">
  <div class="row">
    <%= render "layouts/side-bar" %>

    <div class="col-lg-8 ms-auto">
      <div class="posts_all">
        <div class="row">
          <div class="col-md-12">
                <div class="d-flex justify-content-between mb-4 bg-light p-3 rounded">
                  <div class="d-flex fw-bold fs-5">
                    <a href="" class="text-dark me-4">All Stories</a>
                    <a href="#" class="text-muted">My Feed</a>
                  </div>
                </div>
                <% @stories.each do |story| %>
                  <div class="post border-bottom py-3">
                    <div class="d-flex align-items-center pb-3">
                      <ul class="p-0 story_author d-flex align-items-center">
                        <li class="profile">
                          <img src="img/prof.png" alt="">
                        </li>
                        <li class="ms-3">
                          <%= story.user.first_name %> <%= story.user.last_name %>
                        </li>
                      </ul>
                      <ul class="d-flex reactions ps-5 ms-5">
                        <a href="#" class="text-muted me-4">
                        <i class="fas fa-heart"></i> 40
                        </a>
                        <a href="#" class="text-muted">
                          <i class="fas fa-comment"></i> 100
                          </a>
                      </ul>
                    </div>
                    <p class="pb-3 fs-5">
                      <%= link_to story.body.to_plain_text.truncate_words(80), story, class: 'text-muted', style: 'text-decoration: none;' %>
                    </p>
                  </div>
                <% end %>
                <!--<div class="load-more mb-5">
                  <a href="#" class="btn mb-5 py-2 px-5 mt-5 shadow">More Stories</a>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
