<%= render "layouts/nav" %>
<div class="container">
  <div class="row">
    <%= render "layouts/side-bar" %>
    <div class="col-lg-8 mx-auto">
      <%= render "layouts/inner-nav" %>
      <h2 class="mb-4">New Story</h2>
      <%= render 'form', story: @story %>
    </div>
  </div>
</div>
