<div class="d-flex justify-content-between mb-4 mt-5 bg-light p-3 rounded">
  <div class="d-flex fw-bold">
    <a href="#" class="text-dark me-4 no-decoration">My Feed</a>
    <%= link_to "All Stories", stories_path, class: "text-muted no-decoration" %>
  </div>
</div>