<div class="col-lg-5 col-xl-5 col-xxl-4 ms-auto bg-deep-purple text-white py-5 d-none d-lg-block">
  <div class="mx-5 ps-5 pb-5">
    <div class="logo my-5">
      <a href="/" class="fs-1 color-purple">#Tuwaaye</a>
    </div>
    <h2>Share Your Experiences with the World.</h2>
    <p class="fs-5 mt-5 pb-5">
      Let us be your voice. Reachout to millions of 
      people that are waiting to go through experiences with you.
    </p>
  </div>
</div>