<div class="col-lg-4 ms-auto bg-deep-purple text-white py-5">
  <div class="mx-5 ps-5">
    <div class="logo my-5">
      <a href="/" class="fs-1 text-white">#Tuwaaye</a>
    </div>
    <h2>Share Your Experiences with the World.</h2>
  </div>
</div>