<nav class="bg-deep-purple py-3">
  <div class="container d-flex justify-content-between">
    <a href="#" class="logo text-white no-decoration">#Tuwaaye</a>
    <div class="">
      <%= link_to '<i class="fas fa-plus me-1"></i>New Story'.html_safe, new_story_path, class: "text-white me-4 fw-bolder no-decoration" %>
      <a href="#" class="text-white me-4 fw-bolder no-decoration">
        <i class="far fa-bell me-1"></i>Notifications
      </a>
      <a href="#" class="text-white me-4 fw-bolder no-decoration">
        <i class="far fa-user-circle me-1"></i>My Account
      </a>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-white fw-bolder no-decoration" %>
    </div>
  </div>
</nav>
