<div class="col-lg-2 ms-auto">
    <div class="mt-5 text-center">
      <%= image_tag('prof.png', :alt => "", :width => "150", :class => "rounded-3 border border-5") %>
    </div>
    <p class="mt-4 fw-bolder fs-3 text-center">
      <%= current_user.first_name %> <%= current_user.last_name %>
    </p>
    <div class="bg-light p-3 text-muted">
      I am full of life, and a proud O.G of TRICONA.
    </div>
  </div>