<div class="col-lg-2 ms-auto">
    <div class="mt-5 text-center">
      <%= image_tag('prof.png', :alt => "", :width => "120", :class => "rounded-circle border border-5") %>
    </div>
    <p class="mt-4 fw-bolder fs-4 text-center">
      <%= current_user.first_name %> <%= current_user.last_name %>
    </p>
  </div>